<h1>weekend!</h1)>

<% @people.each do |person| %>
<p> Hi, <%= @person[:name] %>. Welcome to Finstagram. </p>
<p>I hope you're having nive weather in <%= @person[:locationperson_a[:name] %>. </p>

<% end %>

<p> Hi, Laura. Welcome to Finstagram </p>
